CREATE DATABASE student;
GO

USE student;
GO

-- Tạo bảng sinhvien
IF OBJECT_ID('dbo.sinhvien', 'U') IS NOT NULL
    DROP TABLE dbo.sinhvien;
GO

CREATE TABLE dbo.sinhvien (
    StudentID INT IDENTITY(1,1) PRIMARY KEY,
    FullName NVARCHAR(100),
    Gender NVARCHAR(10),
    BirthDate DATE,
    Major NVARCHAR(50),
    Address NVARCHAR(150)
);
GO

-- Thêm dữ liệu mẫu
GO
